
* {
	font-family: 'Roboto', sans-serif;
}

html,body {
margin:0;
padding:0;
overflow-x:hidden;
}

#navlogo {
	height: auto;
	width: 100px;
}

.bg-fullblack {
	background-color: #000;
}

#about {
	text-align: center;
 }

#glow {
	-moz-box-shadow: 0 0 20px #29edc0;
	-webkit-box-shadow: 0 0 20px #29edc0;
	box-shadow: 0px 0px 30px #29edc0;
}

.mt-15 {
	margin-top: 150px;
}

.mt-19 {
	margin-top: 190px;
}

.pt-15 {
	padding-top: 150px;
}

.mt-13 {
	margin-top: 130px;
}

.pt-13 {
	padding-top: 130px;
}


.mb-13 {
	margin-bottom: 130px;
}

main {
  padding: 100px 0 0;
  background-color: #000;
}

.icon {
  max-width: 250px;
  margin: 0 auto 50px;
}

.icon img {
  display: block;
}

.constellation {
  fill:none;
  stroke:#FFE08C;
  stroke-width:6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  -webkit-animation: iconoutline 6s ease infinite;
  -moz-animation: iconoutline 6s ease infinite;
  -o-animation: iconoutline 6s ease infinite;
  animation: iconoutline 6s ease infinite;
}

.starstroke{
  fill:#2d84d3;
}

.star{
  fill:#fff;
}


@-webkit-keyframes iconoutline {
  20% {
    stroke-dashoffset: 2000;
  }
  70% {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes iconoutline {
  20% {
    stroke-dashoffset: 2000;
  }
  70% {
    stroke-dashoffset: 0;
  }
}

@-o-keyframes iconoutline {
  20% {
    stroke-dashoffset: 2000;
  }

  70% {
    stroke-dashoffset: 0;
  }
}

@keyframes iconoutline {
  20% {
    stroke-dashoffset: 2000;
  }
  70% {
    stroke-dashoffset: 0;
  }
}
